/*CSS Variable*/
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/*Navigation*/
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/*Top-Container*/
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

/*Showcase*/
.showcase {
    grid-area: showcase;
    min-height: 400px;
    min-width: 200px;
    background: url(Resources/background1.jpg);
    background-size: cover;
    background-posistion: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: white;
}

.showcase p {
    margin-top: 0;
}

/*Top-Box*/
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2rem;
    font-family: Helvetica;
}
.top-box-a {
    grid-area: top-box-a;
    background-image: url(Resources/googleMaps1.PNG);
    color: white;
    background-size: cover;
}
.top-box-b {
    grid-area: top-box-b;
    background-image: url(Resources/googleMaps2.PNG);
    color: white;
    background-size: cover;
}

.bike-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'headingBikes'
        'bike-box-a bike-box-b'
        'bike-box-c bike-box-d'
}

.bike-box {
    display: grid;
    background: var(--primary);
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.bike-box .price {
    font-family: Helvetica;
    font-size: 1rem;
}

.bike-box-a {
    width: 10%;
    height: 10%;
    background-image: url(Resources/Bike1.jpg);
    color: white;
    background-size: cover;
}
.bike-box-b {
    width: 10%;
    height: 10%;
    background-image: url(Resources/Bike2.jpg);
    color: white;
    background-size: cover;
}
.bike-box-c {
    width: 10%;
    height: 10%;
    background-image: url(Resources/Bike3.jpg);
    color: white;
    background-size: cover;
}
.bike-box-d {
    width: 10%;
    height: 10%;
    background-image: url(Resources/Bike4.jpg);
    color: white;
    background-size: cover;
}


/*Boxes*/
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/*Info*/
.info {
    background: #1abc9c;
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1rem;
    /*padding: 0.2rem 0 0 0.2rem;*/
    /*padding: 0.2rem;*/
    text-align: left;
}

/*Portfolio*/
.portfolio {
    /*background: var(--primary);*/
    /*box-shadow: var(--shadow);*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.portfolio .img {
    width: 100%;
    box-shadow: var(--shadow);
}

/*Footer*/
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: left;
    padding: 1rem;
}

/*Media Queries*/
@media(max-width: 800px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';
    }
    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 600px) {
    .top-container {
        grid-template-areas:
                'showcase'
                'top-box-a'
                'top-box-b';
    }
}