body {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

.bottomImg {
  font-family: sans-serif;
  margin: auto;
  height: 10%;
  width: 100%;
  background-image: url(Resources/background1bottom.jpg);
  background-size: cover;
  position: fixed;
  bottom: 0px;

}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  width: 100%;
}

.navbar a img {
  color: white;
  background-color: #313236;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.burger__patty:hover {
   color: #ffffff;
 }

.burger .burger__patty {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.button a .glyphicon-menu-hamburger {
  font-size: 10px;
  color: black;
}

/*Display Burger-menu with small screen*/
@media (min-width: 600px) {
  .burger__patty {
    display: none;
  }
}
/*Display bar with large screen*/
@media (max-width: 599px) {
  a.link1, a.link2, a.link3 {
    display: none;
  }
}




